.form-check-inline {
    display: inline-block;
    margin-right: 0.6rem;
}

dialog{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 17px;
    top: 75%;
}

dialog, #sucesso {
    background-color: lightskyblue;
}

dialog, #erro {
    background-color: red;
}

dialog #aguarde {
    background-color: rgb(213, 226, 21);
}

.alianca-vermelha {
    color: red;
}

.alianca-azul {
    color: blue;
}

.vitoria {
    color: green;
}

.derrota {
    color: red;
}

.b{
    background: url("../img/mais.jpeg");
    width: 60px;
    height: 60px;
    background-size: 70% 70%;
    border: none;
}

.a{
    background: url("../img/menos.jpeg");
    width: 60px;
    height: 60px;
    background-size: 70% 70%;
    border: none;
}